apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: infographix-staging

namePrefix: staging-

commonLabels:
  environment: staging

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: frontend
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 3
    target:
      kind: HorizontalPodAutoscaler
      name: backend-hpa
  - patch: |-
      - op: replace
        path: /spec/minReplicas
        value: 1
      - op: replace
        path: /spec/maxReplicas
        value: 2
    target:
      kind: HorizontalPodAutoscaler
      name: frontend-hpa

configMapGenerator:
  - name: backend-config
    behavior: merge
    literals:
      - ENVIRONMENT=staging
      - LOG_LEVEL=DEBUG

images:
  - name: ghcr.io/infographix/backend
    newTag: staging
  - name: ghcr.io/infographix/frontend
    newTag: staging
